.login .wrapper {
  position: relative;
}

.login .container {
  position: relative;
  width: 320px;
  margin: auto;
  padding: 28px;
  border-radius: 8px;
  top: 0; bottom: 0; left: 0; right: 0;
  border: #ccc solid 1px;
}

.login .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.login .center-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.login .right-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.login .login-failed {
  color: #f55;
}
